<h1>My App Works!</h1>

<h1>Interpolation!</h1>
<br>
<p>Hello my name is {{ firstName }} </p>

<h1>One Way Data Binding and Directive!</h1>
<br>
<ul *ngFor="let item of todos">
  <li> {{item}} </li>
</ul>
<!-- <button (click)="expression"></button> -->


<h1>Two-Way Binding</h1>
<br>
<input [{ngModel}] = "age">
<p>I am {{age}} years old</p>
<!-- Hide an image using ngIf directive -->
<div *ngIf="imageShows">
  <img src="../assets/initial.png" width="300px" height="350px">
  <button (click)="displayImage()">Show Image</button>
</div>

