<body>
  <div id="body">
    <div class="container-fluid">

      <!-- Take user input here using the directives -->
      <h1> Todo List </h1>
      <input type="text" [(ngModel)] = 'input' (keydown)="keyDown13($event)" placeholder = "List Item">
      <button type="button" (click) = "recordText()" (click) = "deleteInput()"> Add </button>

      
      <!--Disply your list here using the directives from class-->
      <h1> Today's Todo: </h1>
      <div>
        <ul *ngFor = "let item of todos | slice:1; let i = index;">
          <li> {{ item }} </li>
        </ul>
      </div>
    </div>
  </div>
</body>