body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 189, 255);
}

.navbar{
    padding: 10px 30px;
    background-color: rgb(182, 80, 182);
}
.navbar .navbar-brand p{
    display: inline;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;  
}
.collapse .nav-item{
    position: right;
    color: white;    
}

.showcase{
    height: 500px;
    background-image: url('../assets/store-view.JPG');
    background-position: 0px -400px;
    background-size: cover;
}

.showcase .title-float{
    padding-top: 200px;
}

.showcase .title-float .showcase-heading{
    margin: auto;
    text-align: center;
    width: 50%;
    min-width: 400px;
    background-color: rgb(182, 80, 182, .5);
}
.showcase .title-float .showcase-heading h1{
    color: white;
    font-size: 100px;
    font-family: times;
}

.col-md-3{
    
    padding: 20px;
}

.img-thumbnail{
    width: 250px;
}

.img-thumbnail a img{
    height: 250px;
    width: 100%;
}

.footer-bottom{
    background-color: rgb(182, 80, 182);
    color: white;
    text-align: center;
    height: 40px;
}