body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #44318D;
    color: white;
    width: 100%;
}

.navbar{
    padding: 10px 30px;
    background-color: #d83f87;
}
.navbar .navbar-brand p{
    display: inline;
    font-size: 70px; 
}

.showcase{
    height: 500px;
    background-image: url('../assets/store-view.JPG');
    background-position: 50% 50%;
    background-size: cover;
}

.showcase .title-float{
    padding-top: 200px;
}

.showcase .title-float .showcase-heading{
    margin: auto;
    text-align: center;
    width: 50%;
    min-width: 400px;
    background-color: rgba(216, 71, 184, 0.5);
}
.showcase .title-float .showcase-heading h1{
    font-size: 100px;
}

.col-md-3{
    
    padding: 20px;
}

.img-thumbnail{
    width: 250px;
    background-color: #d83f87;
    padding: 20px;
    border: none;
    border-radius: 5%;
}

.img-thumbnail a img{
    height: 250px;
    width: 100%;
}

.mail-list-box{
    background-color: #d83f87;
    padding: 40px;
    border-radius: 30%;
}

.mail-list-box .btn-submit{
    background-color: #44318D;
    color: white;
}

.follow-us-box{
    background-color: #d83f87;
    padding: 40px;
    border-radius: 30%;
}


.footer-bottom{
    background-color: #a4b3b6;
    color: white;
    text-align: center;
    height: 80px;
}

.media-list{
    position: fixed;
    bottom: 0;
    right: 0;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: white;
  }

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media only screen and (max-width:420px){
    .showcase .title-float .showcase-heading{
        min-width: 250px;
        background-color: rgba(216, 71, 184, 0.5);
    }
    .showcase .title-float .showcase-heading h1{
        font-size: 50px;
    }
    .media-list{
        bottom: 0;
        right: 20px;
    }
    .fa {
        padding: 10px;
        font-size: 25px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        display: block;
      }
}