body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #44318D;
    color: white;
    width: 100%;
}

.navbar{
    padding: 10px 30px;
    background-color: #d83f87;
}
.navbar .navbar-brand p{
    display: inline;
    font-size: 70px; 
}