<body>
    <div id="content">
      <!-- Post Request -->
      <form>
          <header>
            <h1>Dear Diary</h1>
          </header>
          <div>
            <hr>
            <section class="line">
              <label for="input"> Heading </label>
              <hr>
              <input class="form-control" type="text" placeholder="Title">
            </section>
            <hr>
            <section class="line">
              <label for="input"> By </label>
              <hr>
              <input class="form-control" type="text" placeholder="Author">
            </section>
            <hr>
            <section class="line">
              <label for="input"> Content </label>
              <hr>
              <textarea class="form-control"></textarea>
            </section>
            <hr>
          </div>
          <br>
          <button type="submit"> Post </button>
      </form>
    </div>
      
  </body>